data
test
results

.tmp
*.log
*._log
*.aux
*._aux
*synctex
*synctex.gz
*project.vim
*.out
*.png
*.jpg
*.pdf
*.html
*.swp

# ignore knitr's cache
**/cache/

# specific files to ignore
notebook/2016-02-19-binomial-models/improvement.csv
notebook/2016-03-02-ifats-regression-analysis/DLPFC.ensembl.KNOWN_AND_SVA.ADJUST.SAMPLE_COVARIATES.tsv
notebook/2016-03-02-ifats-regression-analysis/samples.csv
notebook/2016-04-22-glm-for-s-statistic/13-genes-in-perez-2015-elife.csv
notebook/2016-04-22-glm-for-s-statistic/DLPFC.ensembl.KNOWN_AND_SVA.ADJUST.SAMPLE_COVARIATES.tsv
notebook/2016-04-22-glm-for-s-statistic/samples.csv
notebook/2016-06-03-adopting-limma-and-voom/summary-table.csv
notebook/2017-02-08-dataset-for-regression/*.csv
ms/*rtf


# R.gitignore, taken from
# https://github.com/github/gitignore/blob/master/R.gitignore

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
